## sqlALchemy Object Relational Mapping

In [3]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
import sqlalchemy
import pandas as pd

meta = MetaData()

dbhost = 'rdsmysqlconn.cmr9u9cvruto.us-east-1.rds.amazonaws.com' 
dbuser = 'dheerajkumar2410' 
dbpass = 'dheerajkumar2410' 
dbname = 'customer_database'

engine = create_engine('mysql+pymysql://{}:{}@{}/{}'.format(dbuser,dbpass,dbhost,dbname))
DBSession = sessionmaker(bind=engine)
session = DBSession()

class _customer_ :  
    customer = Table(
       'customer', meta,
       Column('Customer_id', Integer,primary_key=True), 
       Column('Customer_name', String), 
       Column('Registration_date', String), 
       Column('Customer_Requirement', String),
    )
from sqlalchemy.sql import select
s = select([_customer_.customer])
result = engine.execute(s)
cust=[]
for i in result:
    cust.append(i)
    print(i)
df = pd.DataFrame(cust,columns=['Customer_id','Customer_name','Registration_date','Customer_Requirement'])

(101, 'Sundhar Pichai', '24-01-2016', 'Create API with CRUD Operations')
(102, 'Elon Musk', '04-11-2013', 'Send and receive data using TCP IP Sockets')
(103, 'Jeff Bezos', '16-06-2017', 'Implementation of Conversational SQL with NLP')
(104, 'Steve Jobs', '21-01-2018', 'Create  Login Authentication With Flask SQL Server')
(105, 'Mackenzie Scott', '13-04-2016', 'Develope a Micro Service with Flask in AWS')
(106, 'Paval Durov', '06-05-2014', 'Create Lambda Functions and Invoke it through API Gateway')
(107, 'Jack Ma', '18-10-2020', 'Develop a Deep Learning Model to Predict the emotions in text')
(108, 'Jeaf Dean', '17-06-2006', 'Deployment of  ML Models in AWS Ec2 instance with Authentication')
(109, 'Robert Strenberg', '09-01-2010', 'Create Socket workflow to send Byte Stream Data')
(110, 'John David', '27-01-2017', 'Create Lambda Functions and Invoke it through API Gateway')
(113, 'David mellon Bhargav', '2020/12/16', 'Bhargav aPP')
(114, 'Donald Trump', '2020/12/16', 'Donald aPP')

In [11]:
df = df.sort_values("Customer_id")
df

,Customer_id,Customer_name,Registration_date,Customer_Requirement
0,101,Sundhar Pichai,24-01-2016,Create API with CRUD Operations
1,102,Elon Musk,04-11-2013,Send and receive data using TCP IP Sockets
2,103,Jeff Bezos,16-06-2017,Implementation of Conversational SQL with NLP
3,104,Steve Jobs,21-01-2018,Create Login Authentication With Flask SQL Se...
4,105,Mackenzie Scott,13-04-2016,Develope a Micro Service with Flask in AWS
5,106,Paval Durov,06-05-2014,Create Lambda Functions and Invoke it through ...
6,107,Jack Ma,18-10-2020,Develop a Deep Learning Model to Predict the e...
7,108,Jeaf Dean,17-06-2006,Deployment of ML Models in AWS Ec2 instance w...
8,109,Robert Strenberg,09-01-2010,Create Socket workflow to send Byte Stream Data
9,110,John David,27-01-2017,Create Lambda Functions and Invoke it through ...

In [12]:
df['Customer_id'] = df['Customer_id'].astype(int)
df = df.T.to_json()

In [15]:
type(df)

str

In [33]:
res = session.execute(select([_customer_.customer]).where(_customer_.customer.c.Customer_id=='150'))

In [34]:
record =[]
for i in res:
    record.append(i)
    print(i)

('150', 'kirog koshi', '2020/12/16', 'koshi aPP')

In [35]:
pd.DataFrame(record,columns=['Customer_id','Customer_name','Registration_date','Customer_Requirement'])

  Customer_id Customer_name Registration_date Customer_Requirement
0         150   kirog koshi        2020/12/16            koshi aPP

In [36]:
import json
def id(id):
    res = session.execute(select([_customer_.customer]).where(_customer_.customer.c.Customer_id==id))
    record =[]
    for i in res:
        record.append(i)
    rec = pd.DataFrame(record,columns=['Customer_id','Customer_name','Registration_date','Customer_Requirement'
                                      ]).to_json()
    return {"Status":"Successful","Response":json.loads(rec)}
id('150')

{'Status': 'Successful',
 'Response': {'Customer_id': {'0': '150'},
  'Customer_name': {'0': 'kirog koshi'},
  'Registration_date': {'0': '2020/12/16'},
  'Customer_Requirement': {'0': 'koshi aPP'}}}

In [13]:
# pd.DataFrame(cust,columns=['Customer_id','Customer_name','Registration_date','Customer_Requirement'])

In [18]:
# DELETE FUNCTION #
def delete_val(cust_id):
    conn = engine.connect()
    stmt = _customer_.customer.delete().where(_customer_.customer.c.Customer_id == cust_id)
    conn.execute(stmt)
    return "deleted"
#     s = _customer_.customer.select()
#     conn.execute(s).fetchall()
delete_val('151')

'deleted'

In [5]:
# INSERT FUNCTION #
def insert_val(cust_name,reg_date,cust_req):#cust_id,cust_name,reg_date,cust_req
    ins = _customer_.customer.insert()
    ins = _customer_.customer.insert().values(Customer_name=cust_name, \
                            Registration_date = reg_date,Customer_Requirement=cust_req)
    conn = engine.connect()
    result = conn.execute(ins)
    return "inserted"
insert_val('kirog koshi','24/05/2021','koshi aPP')

'inserted'

In [ ]:
def insert_val(boardNum,status):#cust_id,cust_name,reg_date,cust_req
    ins = _customer_.senseon.insert()
    ins = Insert(_customer_.senseon).values(boardNum=board_num, \
                                    status = status)
    ins = ins.on_duplicate_key_update(board_num=stmt.inserted.board_num)
    conn = engine.connect()
    return "inserted"
insert_val('kirog koshi','24/05/2021','koshi aPP')
ins = _customer_.senseon.insert()
ins = Insert(_customer_.senseon).values(boardNum=board_num, \
                                status = status)
ins = ins.on_duplicate_key_update(board_num=stmt.inserted.board_num)
conn = engine.connect()

In [20]:
# UPDATE FUNCTION #
def update_val(p_cust_id,cust_name,reg_date,cust_req):
    conn = engine.connect()
    stmt=_customer_.customer.update().where(\
                _customer_.customer.c.Customer_id==p_cust_id).values(Customer_name=cust_name,\
                Registration_date=reg_date,\
                Customer_Requirement=cust_req)
    conn.execute(stmt)
    return "updated"
update_val('111', 'Dheeraj kumar', '22/10/2018', 'Dheeraj APP')

'updated'