In [1]:
# pip install SQLAlchemy
# pip install mysqlclient
# pip install pandas

Collecting SQLAlchemy
  Downloading SQLAlchemy-1.4.7-cp37-cp37m-win_amd64.whl (1.5 MB)
Collecting greenlet!=0.4.17
  Using cached greenlet-1.0.0-cp37-cp37m-win_amd64.whl (95 kB)
Requirement already satisfied: importlib-metadata in c:\users\dell\anaconda3\envs\dais\lib\site-packages (from SQLAlchemy) (3.10.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\dell\anaconda3\envs\dais\lib\site-packages (from importlib-metadata->SQLAlchemy) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in c:\users\dell\anaconda3\envs\dais\lib\site-packages (from importlib-metadata->SQLAlchemy) (3.4.1)
Installing collected packages: greenlet, SQLAlchemy
Successfully installed SQLAlchemy-1.4.7 greenlet-1.0.0
Note: you may need to restart the kernel to use updated packages.

In [17]:
pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [7]:
from sqlalchemy import create_engine
import pandas as pd

dbhost = 'rdsmysqlconn.cmr9u9cvruto.us-east-1.rds.amazonaws.com' 
dbuser = 'dheerajkumar2410' 
dbpass = 'dheerajkumar2410' 
dbname = 'customer_database'

engine = create_engine('mysql+pymysql://{}:{}@{}/{}'.format(dbuser,dbpass,dbhost,dbname))
connection = engine.connect()

In [23]:
connection = engine.connect()

In [6]:
def Database_connection(dbuser, dbpass, dbhost, dbname):
    try:
        engine = create_engine('mysql+pymysql://{}:{}@{}/{}'.format(dbuser,dbpass,dbhost,dbname))
        connect = engine.connect()
        print(" MySQL DB Connected successfully")
    except:
        print("The error occurred in DB Connection")
    return connect

connection = Database_connection(dbuser, dbpass, dbpass, dbname)

The error occurred in DB Connection

UnboundLocalError: local variable 'connect' referenced before assignment

In [8]:
sql ="""SELECT * FROM Customer_Database"""
df = pd.read_sql(sql,connection)
df

,Customer_id,Customer_name,Registration_date,Customer_Requirement
0,102,Elon Musk,04-11-2013,Send and receive data using TCP IP Sockets
1,103,Jeff Bezos,16-06-2017,Implementation of Conversational SQL with NLP
2,104,Steve Jobs,21-01-2018,Create Login Authentication With Flask SQL Se...
3,105,Mackenzie Scott,13-04-2016,Develope a Micro Service with Flask in AWS
4,106,Paval Durov,06-05-2014,Create Lambda Functions and Invoke it through ...
5,107,Jack Ma,18-10-2020,Develop a Deep Learning Model to Predict the e...
6,108,Jeaf Dean,17-06-2006,Deployment of ML Models in AWS Ec2 instance w...
7,109,Robert Strenberg,09-01-2010,Create Socket workflow to send Byte Stream Data

In [13]:
def verify_token(token):
	con=connection
	query='select * from UserSession1 where token=%(token)s'
	val={'token':token}
	result=connection.execute(query,val)
	if(result):
		return True
	else:
		return False
    
verify_token('ZB7X68OPPO5218IHITSVI25M6VHDGC61HQMHECQ1TC2QTB8V6KQC9Y2AKCAYDIEAJPBS2FDHACM')

True